.portfolio-block {
	// TODO: сменить 80px на размер шапки
	height: calc(100vh - 80px);
}

.portfolio-card {
	max-width: 364px;
	border: 1px solid #000;
	padding: 40px;
	box-sizing: border-box;
	margin-right: 8px;
	& .btn-block {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		& .go-btn {
			display: block;
			cursor: pointer;
			transition: transform 0.4s ease;
			&:hover {
				transform: translateX(8px);
			}
		}
	}
}
