<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>О нас</title>
    <style>
    @import url("../template/styles/style.css");
    @import url("../template/styles/colors.scss");
      body {
        background: #F5F5F5;
      }
      p{
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
  <div>
    <p>
      PolyWeb Agency — активно развивающаяся веб-студия, открытая уверенными,
      идейными людьми специально для вас. Вы можете спросить: «Почему именно
      PolyWeb?» Ответ на этот вопрос прост:
    </p>
    <p>
      Идеальный баланс консерватизма и новизны позволяет вам получить лучший
      результат. Молодые и дерзкие разработчики все ярче проявляют себя с каждым
      новым проектом, привносят креативность, реализуют свои самые лучшие
      и неординарные идеи, а опытные руководители контролируют процесс создания,
      создают гармонию. В результате заказчик получает превосходный продукт,
      который станет его личным лучшим средством продвижения и привлечения
      клиентов.
    </p>
    </div>
  </body>
</html>
