body,
button,
input,
select,
small,
optgroup,
textarea {
	font-family: $font__main;
}
body,
select,
small,
optgroup{
	color: $color__text-main;
}
button {
	font-size: 20px;
}
input {
  font-size: 18px;
	line-height: 25px;
}
small {
	font-size: 16px;
	line-height: 22px;
}

@import "headings";
@import "copy";
