// Цвета
$black: #080808;
$green: #68CD5F;
$darkGreen: #5EBB55;
$yellow: #F4DF60;
$darkYellow: #EBD44D;
$red: #FF3322;
$darkRed: #E22D1E;
$blue: #9FD3F8;
$darkBlue: #75C2F9;
$lightGray: #F5F5F5;
$white: #FFFFFF;
