	.site-header {
		display: flex;
		margin: 2.5rem 5rem 0 5rem;
		& .main-navigation {
			margin-left: 15rem;
		}
		& .site-branding {
			width: 35%;
		}
	} 
	nav ul {
		display: flex;
		justify-content: space-around;
		& li a{
			font-weight: bold;
			color:black !important;
			&:hover{
				border-bottom: 3px solid #FF3322;
				color:black;
			}
		}
	}
	.money {
		display: flex;
		margin-left: 7rem;
		& span {
			font-weight: 600;
			margin-right: 1rem;
		}
	}