.about-us {
  background-color: $color__background-screen;
  position: relative;
}

.wrap-for-running-stroke{
  margin-top: 8rem;
}

.infinite-line {
  margin-left: -5.75rem;
  margin-right: -5.75rem;
	height: 5rem;
  &.programming {
  	background: url('../../../src/img/programming.svg') repeat-x;
  	animation: animate 5s linear infinite;
  	-webkit-animation: programming 5s linear infinite;
}

  &.marketing {
  	background: url('../../../src/img/marketing.svg') repeat-x;
  	animation: animate 5s linear infinite;
  	-webkit-animation: marketing 5s linear infinite;
}

  &.design {
    background: url('../../../src/img/design.svg') repeat-x;
    animation: design 5s linear infinite;
    -webkit-animation: design 5s linear infinite;
}
}

@keyframes programming {
	from {
		background-position: 0px 0px;
	}

	to {
		background-position: 710px 0px;
	}
}

@keyframes marketing {
	from {
		background-position: 0px 0px;
	}

	to {
		background-position: -403px 0px;
	}
}

@keyframes design {
	from {
		background-position: 0px 0px;
	}

	to {
		background-position: 286px 0px;
	}
}