.contact-form {
  position: relative;
  padding: 0 !important;
}

.fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: $blue;
  z-index: 2;
  transition: width 2s ease-in-out;
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -ms-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
}

.flex-form-container {
  padding: 6rem 8.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  & h2 {
    text-align: left;
  }
}

.heading-for-form,
.wrap-for-form {
	z-index: 3;
}

.heading-for-form {
  margin-right: 5%;
  width: 55%;
}

.wrap-for-form {
	width: 40%;
  & a {
    text-decoration: underline;
    color: $black !important;
  }

  & label {
    margin-bottom: 0.7rem;
    &.confpolitic{
      display: inline;
    }
  }

  & input {
    margin-bottom: 1.3rem;
    &[type="text"],
    &[type="email"] {
      width: 100%;
    }
    &[type="checkbox"] {
      margin-top: 1rem;
      margin-bottom: 0;
    }
    &[type="submit"] {
      padding: 1.25rem 6.25rem;
      margin-top: 2.5rem;
    }
  }
}
.wrap-for-checkbox{
  width: 100%;
}

@media (max-width: 1400px) {
  .flex-form-container .heading-for-form h2 {
    font-size: 48px;
  }
  
}


@media (max-width: 1177px) {
  .flex-form-container {
    padding: 3.6rem 5rem;
  }
  .flex-form-container .heading-for-form h2 {
    font-size: 36px;
  }
 
}


@media (max-width: 960px) {
  .flex-form-container{
    flex-direction: column;
    & .heading-for-form {
      width: 100%;
      margin-bottom: 2rem;
    }

    & .wrap-for-form {
      width: 50%;
      & .form-button {
        margin-top: 1.5rem;
        width: 100%;
      }
    }
  }
  }

  @media (max-width: 800px) {
  .flex-form-container{
   
    & .wrap-for-form {
      width: 70%;
    }
  }
  }

  @media (max-width: 700px) {
  .flex-form-container{
    & .wrap-for-form {
      width: 100%;
    }
  }
  }

@media (max-width: 600px) {
  .flex-form-container .heading-for-form h2 {
    font-size: 32px;
  }
  .flex-form-container{
    padding: 1.5rem 2.5rem;
    & .wrap-for-form {
      width: 100%;
    }
  }
  }
   @media (max-width: 450px) {
    .flex-form-container .heading-for-form h2 {
    font-size: 24px;
  }
  #contact-form input {
    min-width: auto;
  }
  .wrap-for-form input[type=submit] {
    padding: 1rem 2rem;
  }
}