.services {
  background-color: $color__background-screen;
}

.heading-for-services {
  margin-bottom: 4.5rem;
}
.wrap-for-services {
  display: flex;
  align-items: center;
  &.left {
    flex-direction: row;
  }
  &.right {
    flex-direction: row-reverse;
  }
  & .description-for-services {
    width: 35%;
    &.left {
      margin-right: 5%;
    }
    &.right {
      margin-left: 5%;
    }
    & p {
      margin-top: 1.4rem;
      margin-bottom: 3.75rem;
    }
    & .btn-block {
      width: 100%;
      & .go-btn {
        display: block;
        cursor: pointer;
        & .circle, .arrow {
          transition: all 0.4s ease;
        }
        & .circle.green {

          stroke: $green;
          fill: transparent;
        }
        &:hover .circle.green {
          fill: $green;
        }
        & .arrow.green {
          fill: $green;
        }
        &:hover .arrow {
          fill: $white !important;
        }
        & .circle.red {
          stroke: $red;
          fill: transparent;
        }
        &:hover .circle.red {
          fill: $red;
        }
        & .arrow.red {
          fill: $red;
        }
        & .circle.blue {
          stroke: $blue;
          fill: transparent;
        }
        &:hover .circle.blue {
          fill: $blue;
        }
        & .arrow.blue {
          fill: $blue;
        }
      }
    }
  }
  & .images-for-services {
    width: 45%;
    display: flex;
    &.left {
      justify-content: flex-end;
      margin-left: auto;
    }

    &.right {
      justify-content: flex-start;
      margin-right: auto;
    }
    align-items: center;
    }

}



@media (max-width: 1400px) {
}


@media (max-width: 1177px) {
 .wrap-for-services {
   & .images-for-services {
    width: 65%;
    }
    & .description-for-services {
      & h3{
        // font-size: 32px;
      }
    }

 }
}


@media (max-width: 960px) {
  .wrap-for-services {
  &.left {
    flex-direction: column-reverse;
  }
  &.right {
    flex-direction: column-reverse;
  }
& .description-for-services {
    width: 100%;
    // & p{
    //   font-size: 14px;
    // }
    // & h3{
    //   font-size: 24px;
    // }
    &.left {
      margin-right: 1%;
    }
    &.right {
      margin-left: 1%;
    }
    & p {
      margin-top: 1.8rem;
      margin-bottom: 1.8rem;
    }
    & .btn-block {
      display: none;}
  }
   & .images-for-services {
     margin-bottom: 3rem;
    &.left {
      justify-content: center;
      margin-right:auto;
    }

    &.right {
      justify-content: center;
      margin-left: auto;
    }
    }
  }}

@media (max-width: 600px) {
  .services .heading-for-services{
    margin-bottom: 2rem;
  }
  .wrap-for-services {
    & .description-for-services {
      & h3{
        // line-height: 1.7;
      }
    }
  }
  }
   @media (max-width: 450px) {
    .services .heading-for-services {
    margin-bottom: 2.5rem;
  }
}

