button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: block;
	border: none;
	background: $color__background-button;
	color: $lightGray;
	outline: none;
	padding: 1rem 2rem;
	min-width: 10rem;
	text-align: center;
	line-height: 1;
	&:hover{
		background-color: $color__background-button-hover;
	}

	&:active {
		background-color: $color__background-button;
	}
}
