button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: block;
	border: none;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	background: $color__background-button;
	color: $lightGray;
	outline: none;
	padding: 1rem 2.5em;
	text-align: center;
	line-height: 1;
	// &:hover {
	// 	border-color: $color__background-button-hover;
	// }

	// &:active,
	// &:focus {
	// 	border-color: $color__background-button-active;
	// }
}
