input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	display: block;
	background-color: $white;
	color: $color__text-input;
	border: 2px solid $color__border-input;
	padding: 0.5rem;
	outline: none;
	min-width: 20rem;

	&.red {
	border-color: $color__border-input-error;
	}
}

label {
	display: block;
	margin-bottom: 0.3rem;

	&.red {
		color: $color__border-input-error;
	}
}

select {
	border: 2px solid $color__border-input;
}

textarea {
	width: 100%;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
	display: inline-block;
	position: relative;
	padding-left: 28px;
	line-height: 20px;
	cursor: pointer;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 18px;
	height: 18px;
	border: 2px solid $black;
	background-color: $white;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
	content: "";
	position: absolute;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
	left: -1px;
	top: -3px;
	width: 22px;
	height: 13px;
	border-left: 4px solid $darkGreen;
	border-bottom: 4px solid $darkGreen;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked)+label:after {
	opacity: 0;
}

input[type="checkbox"]:checked+label:after {
	opacity: 1;
}