.site-footer{
	& a{
		text-decoration: none;
		color: $black !important;
	}
	& a:active{
		border-bottom: 0.125rem solid $red;
		padding-bottom: 0.5rem;
	}
	& ul{
		padding-left: 6.25rem;
		flex:1 1 calc(33% - 1.8rem);
		box-sizing:border-box;
		min-width:10.625rem;
	}
	& li{
  	list-style-type: none;
		padding-bottom: 0.5rem;
	}
	& hr{
		border: none; 
  	color: $red;
  	background-color: $black;
  	height: 0.125rem;
		width: 95%;
	}
	& h6{
		text-align: center;
	}
	& .footer-custom{
		display: flex;
		flex-wrap: wrap;
		font-weight:bold;
	}
}


