.site-footer{
	& a{
		text-decoration: none;
		color: $black !important;
&:after {
				display: block;
				left: 0;
				width: 0;
				height: 3px;
				background-color: #FF3322;
				content: "";
				transition: width 0.3s ease-out;
			}
			&:hover:after {
				width: 100%;
				color:black;
			}
				& :active{
		border-bottom: 0.125rem solid $red;
		padding-bottom: 0.5rem;
	}
	}

	& ul{
justify-content: center;

	}
	& li{
  	list-style-type: none;
		padding-bottom: 0.5rem;
	}
	& hr{
		border: none; 
  	color: $red;
  	background-color: $black;
  	height: 0.125rem;
		width: 95%;
	}
	& h6{
		text-align: center;
	}
	& .footer-custom{
	display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
		font-weight:bold;

	}
}


