// Цвета дизайна
$black: #080808;
$lightGreen: #90DA89;
$green: #68CD5F;
$darkGreen: #5EBB55;
$yellow: #F4DF60;
$darkYellow: #EBD44D;
$red: #FF3322;
$darkRed: #E22D1E;
$blue: #9FD3F8;
$darkBlue: #75C2F9;
$lightGray: #F5F5F5;
$white: #FFFFFF;


$color__background-body: $white;
$color__background-screen: $lightGray;
$color__background-hr: $lightGray;
$color__background-button: $green;
$color__background-pre: transparent;
$color__background-ins: $blue;
$color__background-button-hover: $darkGreen;
$color__background-button-active: $lightGreen;

$color__text-screen: $black;
$color__text-input: $black;
$color__link: $blue;
$color__link-visited: $darkBlue;
$color__link-hover: $darkBlue;
$color__text-main: $black;

$color__border-button: $green;

$color__border-input: $black;
$color__border-input-error: $red;
$color__border-abbr: $yellow;

