// Цвета дизайна
$black: #080808;
$lightGreen: #90da89;
$green: #68cd5f;
$darkGreen: #5ebb55;
$yellow: #f4df60;
$darkYellow: #ebd44d;
$red: #ff3322;
$darkRed: #e22d1e;
$blue: #9fd3f8;
$darkBlue: #75c2f9;
$linkColor: #44AEFA;
$darkLinkColor: #1B94EB;
$lightGray: #f5f5f5;
$white: #ffffff;

$color__background-body: $white;
$color__background-screen: $lightGray;
$color__background-hr: $lightGray;
$color__background-button: $green;
$color__background-pre: transparent;
$color__background-ins: $blue;
$color__background-button-hover: $darkGreen;
$color__background-button-active: $lightGreen;

$color__text-screen: $black;
$color__text-input: $black;
$color__link: $linkColor;
$color__link-visited: $darkLinkColor;
$color__link-hover: $darkLinkColor;
$color__text-main: $black;

$color__border-button: $green;

$color__border-input: $black;
$color__border-input-error: $red;
$color__border-abbr: $yellow;
