// stylelint-disable value-keyword-case
@import "fonts/Literata_7pt/stylesheet.scss";
@import "fonts/PT_Sans/stylesheet.scss";
$font__main: "PT Sans", sans-serif;
$font__heading: "PT Sans", sans-serif;
$font__heading_serif: "Literata 7pt", sans-serif;

$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
